body{
    background: #bec4ff;
}

#button{
    background-color: rgb(37, 37, 37);
    color: #ffffff;
    border: 1px solid #000000;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

#container{
    width:800px;
    margin:0 auto;
    margin-top:10%;
}
form {
    width:100%; 
    padding: 30px;
    border: 1px solid #ffffff;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 20%;
    margin: 0 auto;
    padding-bottom: 10px;
}
h2{
    margin-left:47%;
    padding-bottom: 55px;

}

.text{
    margin-left:40%;
    padding-bottom: 11px;
}


input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #131413;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: rgb(37, 37, 37);
    color: #ffffff;
    border: 1px solid #000000;
}